* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gotham Rounded', sans-serif;
    color: #757575;
}

input:focus {
    outline: 2px solid #00BCD4;
}

#login-area {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E91E63;
    color: white;
}

.divider {
    background: #C2185B;
    height: 2.5em;
    width: 100vw;
    margin-bottom: 40vh;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-width: 28vw;
    min-height: 20vh;
}

#login-form input[type="text"] {
    font-family: 'Gotham Rounded';
    -webkit-appearance: none;
    border: none;
    background: none;
    border-bottom: 2px solid white;
    text-align: center;
    padding: 0.5em 0;
    color: white;
    width: 50vw;
    font-size: 200%;
}

#login-form input[type="text"]::-webkit-input-placeholder {
    color: white;
    font-family: 'Gotham Rounded';
    text-align: center;
}

#login-form input[type="submit"] {
    -webkit-appearance: none;
    padding: 1em;
    border: none;
    border-radius: 5px;
    background: white;
    color: crimson;
    width: 20vw;
    margin: 2em auto;
    transition: 0.3s;
}

#login-form input[type="submit"]:hover, #login-form input[type="submit"]:focus {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.2);
    -webkit-box-shadow: 0px 25px 118px -32px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 25px 118px -32px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 25px 118px -32px rgba(0, 0, 0, 0.75);
}

#chat {
    display: flex;
    flex-wrap: wrap;
}

.side-container {
    flex-basis: 12%;
}

.chat-container {
    flex-basis: 88%;
    display: flex;
    flex-direction: column;
}

#online-users {
    padding: 1em;
    background: #ebebeb;
    height: 100vh;
    flex-basis: 10%
}

#online-users ul {
    margin: 0.5em 0 1em 1em;
}

#chat-form {
    background: #ebebeb;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    bottom: 0;
    width: 88%;
}

#chat-form input {
    font-family: 'Gotham Rounded';
    color: #757575;
    border: 0;
    border-radius: 5px;
    padding: 1.5em;
    flex-basis: 85%;
    margin-right: .5%;
}

#chat-form input:focus, #chat-form button:focus {
    outline: 2px solid #00BCD4;
}

#chat-form button {
    font-family: 'Gotham Rounded';
    flex-basis: 15%;
    color: white;
    background: #E91E63;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
}

#chat-form button:hover {
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    background-color: #C2185B;
}

.welcome-msg {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 120%;
    height: 2.5em;
    background: #E91E63;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd:not(first-child)) {
    background: #eee;
}

.hidden {
    display: none!important; /* Nasty, I know. Will fix eventually */
}
