body {
  margin: 0;
  font: 12px "Open Sans", Helvetica, Arial, sans-serif;
  color: white;
  display: flex;
}

a {
  color: #00B7FF;
}

header {
  background: #121212;
  padding: 1em 3em;
}

main {
  display: flex;
  flex-direction: column;
  background: #181818;
}

.now-playing {
  background: #282828;
  width: 100%;
  padding: 2em;
}

.fav-artists {
  padding: 2em;
}

.artist-list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fav-artist {
  margin: 0 1em;
}

.album-art {
  max-height: 10em;
  max-width: 10em;
}

#online-users {
  padding-left: 10px;
}

#tweets {
  padding: 10em 1em;
}
