<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
      <h1>Welcome <%= user_info.display_name %> </h1>
      <div class="online-users-container">
        <p>Online users:
          <ul id="online-users">

          </ul>
        </p>
      </div>
    </header>

    <main>
        <div>
            <h2>Your favorite artists:</h2>
            <ol  class="artist-list">
                <% artists.items.forEach(function(item) { %>
                    <li class="fav-artist">
                        <h3><a href="<%= item.external_urls.spotify %>" target="_blank"><%= item.name %></a></h3>
                        <img class="album-art" src="<%= item.images[1].url %>">
                    </li>
                    <% }) %>
            </ol>
        </div>
    </main>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
</body>

</html>
