<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/offline.css' />
    <link rel='stylesheet' href='/stylesheets/offline-language-english.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>Tweets about <%= artist %></title>
</head>

<body>
  <main class="tweets">
    <div class="container">
    <h1>Live tweets about <%= artist %></h1>
    <div>
      <ul id="tweets"></ul>
    </div>
    </div>
  </main>

</body>
<script src="/javascripts/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/offline.js"></script>
<script type="text/javascript" src="/javascripts/tweets.js"></script>
</body>

</html>
